.dropdown-item {
    max-height: 0;
    transition: all 0.2s cubic-bezier(0, 1, 0, 1);
}

.dropdown-item.active {
    height: auto;
    max-height: 9999px;
}

.toggle-bubble {
    left: 0%;
    transition: all 0.3s ease;

}

.toggle-bubble.active {
    left: 50%;
}